modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
DISCORD_TOKEN = "MTUxODYwMjg1NzE1NzQ5Mjg1Ng.GuaFja.SEuNNtZi9nurePcKtJMHumG02R0c801Ug7uEMU"
CLIENT_ID = "1518602857157492856"
SERVER_ID = "1486707305901723789"
